<%= content_tag :div, "", id: "hello", data: { message: @message, param: @param }  %>
<%= vite_typescript_tag 'hello'  %>
<%
=begin%>
 id指定必須propsはdataで渡す 
<%
=end%>
<h1>aaa</h1>
<p>Find me in app/views/hello/index.html.erb</p>